:root {
  --slide-ease: cubic-bezier(.4,-0.3,.6,1.3);
  --easing: var(--slide-ease);
  --speed: 0.5s;
  --width: 60px;
  --ar: 8 / 3;
  --ray: hsl(0 0% 100% / 0.5);
  --sun: hsl(47, 91%, 58%);
  --moon: hsl(212, 13%, 82%);
  --crater: hsl(221, 16%, 68%);
}

.toggle {
  -webkit-tap-highlight-color: transparent;
  width: var(--width);
  z-index: 10;
  will-change: transform;
  isolation: isolate;
  transform: translate3d(0, 0, 0);
  aspect-ratio: var(--ar);
  border-radius: 100vh;
  border: 0;
  position: relative;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  transition: background var(--speed) var(--easing);
  --sky: hsl(204, 53%, 47%);
  --night: hsl(229, 25%, 16%);
  outline-color: transparent;
  background: hsl(
    calc(204 + (var(--dark, 0) * 25))
    calc((53 - (var(--dark, 0) * 28)) * 1%)
    calc((47 - (var(--dark, 0) * 31)) * 1%)
  );
  box-shadow:
    calc(var(--width) * 0) calc(var(--width) * 0.02) calc(var(--width) * 0.01) calc(var(--width) * -0.0025) hsl(210 10% 100% / 0.95),
    calc(var(--width) * 0) calc(var(--width) * -0.02) calc(var(--width) * 0.01) calc(var(--width) * -0.0025) hsl(210 10% 10% / 0.2),
    calc(var(--width) * 0) calc(var(--width) * 0.02) calc(var(--width) * 0.5) 0 hsl(210 10% 100% / 0.15);
}

.toggle:after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow:
    calc(var(--width) * 0) calc(var(--width) * -0.025) calc(var(--width) * 0.025) 0 hsl(210 10% 10% / 0.15) inset,
    calc(var(--width) * 0) calc(var(--width) * 0.025) calc(var(--width) * 0.025) 0 hsl(210 10% 10% / 0.65) inset;
  border-radius: 100vh;
}

.toggle__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 100vh;
  display: block;
  clip-path: inset(0 0 0 0 round 100vh);
}

.toggle__backdrop {
  overflow: visible !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  transition: translate var(--speed) var(--easing);
  translate: 0 calc(
    var(--dark, 0) * (100% - (3 / 8 * var(--width)))
  );
}

.toggle__indicator {
  height: 100%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  padding: 3%;
  transition: translate var(--speed) var(--slide-ease);
  translate: calc(var(--dark, 0) * (var(--width) - 100%)) 0;
}

.toggle__star {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  transition: translate var(--speed) var(--easing);
  translate: calc((var(--dark, 0) * -10%) + 5%) 0;
}

.sun {
  background: var(--sun);
  position: absolute;
  inset: 0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow:
    calc(var(--width) * 0.01) calc(var(--width) * 0.01) calc(var(--width) * 0.02) 0 hsl(210 10% 100% / 0.95) inset,
    calc(var(--width) * -0.01) calc(var(--width) * -0.01) calc(var(--width) * 0.02) 0 hsl(210 10% 20% / 0.5) inset;
}

.moon {
  position: absolute;
  inset: -1%;
  border-radius: 50%;
  background: var(--moon);
  transition: translate var(--speed) ease-in-out;
  translate: calc((100 - (var(--dark, 0) * 100)) * 1%) 0%;
}

.toggle__indicator-wrapper {
  position: absolute;
  inset: 0;
}

[aria-pressed=true] {
  --dark: 1;
}

.pilot__container {
  position: absolute;
  inset: 0;
  opacity: calc(1 - var(--dark, 0));
  transition: opacity var(--speed) var(--easing);
}

.pilot-bear {
  position: absolute;
  width: 25%;
  top: 70%;
  left: 100%;
  translate: calc((1 - var(--dark, 0)) * -150%) calc((1 - var(--dark, 0)) * -100%);
  transition: translate var(--speed) linear;
}
